/* p {
    color: red;
} */

html {
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    background-color: beige;
    text-align: left;
}

body {
    width: 80px;
    margin: 10% 10% 10% 10%;
    background-color: #eeb25e;
    border: 2px solid black;
    padding: 40% 40% 40% 30%;
    ;
}

li {
    color: blue;
    font-size: 15px;
}

h2 p {
    color: rgb(67, 88, 25);
}

#el-importante {
    color: rgb(174, 96, 219);
}

p {
    font-size: 15px;
}