.themed-grid-col {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgb(247, 247, 248);
    border: 1px solid rgba(86, 61, 124, .2);
}

.themed-container {
    padding: .75rem;
    margin-bottom: 1.5rem;
    background-color: rgba(248, 248, 248, 0.904);
    border: 1px solid rgba(0, 123, 255, .2);
}