@media only screen and (max-width:600px) {
    .menu,
    .contenido {
        width: 100%;
    }
}

body {
    background-image: url('imagen/fondogatites.jpg');
}

#pagina {
    /* background: white; */
    height: 1000px;
    width: 80%;
    max-width: 1000px;
    margin: 1em;
    overflow: auto;
}

#head {
    /* background: grey; */
    height: 10%;
    margin: 1em;
}

#body {
    /* background: blue; */
    height: 60%;
    margin: 1em;
    box-sizing: border-box;
}

#menu {
    background: rgba(255, 251, 251, 0.5);
    height: 100%;
    width: 20%;
    float: left;
}

#contenido {
    /* background: red; */
    height: 100%;
    width: 80%;
    float: right;
}

#contenidoIFrame {
    /* background: gray; */
    height: 90%;
    width: 90%;
    margin: 1em;
}

#footer {
    /* background: rgb(226, 43, 98); */
    height: 5%;
    font-style: italic;
    margin: 1em;
}

.menuItem {
    /* background-color: khaki; */
    height: 20%;
    width: 40%;
    margin: 1em;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

.imagenesbichos {
    width: 30%;
    height: auto;
    margin: 1em;
}