/* .smallportrait {
    height: 200px;
    width: 200px;
}

.themed-grid-col {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid rgba(86, 61, 124, .2);
}

.themed-container {
    padding: .75rem;
    margin-bottom: 1.5rem;
    background-color: rgba(0, 123, 255, .15);
    border: 1px solid rgba(0, 123, 255, .2);
}
*/

.myFooter {
    background-color: #2e5c99;
}

.celeste {
    background-color: rgb(166, 216, 240);
}